/*
 ______________________________________________
|                                              |
|     DEFAULT BODY AND OTHER CSS TAG           |
|______________________________________________|

*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("/images/carousel-bg.jpg") center/cover no-repeat;

}

h1 {
  text-align: center;
}

span {
  position: absolute;
  bottom: 50%;
}

span:hover,
span:focus {
  cursor: pointer;
}

span i {
  bottom: 50%;
  color: rgba(255, 255, 255, 0.822);
  font-size: 5rem;
}

/*
 ______________________________________________
|                                              |
|              UTILITIES CLASS                 |
|______________________________________________|

*/

.container {
  position: relative;
  width: 65%;
  margin: auto;
}

.carouselImage img {
  display: none;
  width: 100%;
}

.carouselImage h2 {
  text-align: center;
  display: none;
}

#btn-1 {
  left: 0.313rem;
}

#btn-2 {
  right: 0.313rem;
}

/* footer */

.footer {
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  padding: 1rem 0.5rem;
  text-align: center;
  justify-content: space-evenly;
  background: var(--red-shades);
  color: black;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.copyright {
  margin: 0em 1em;
}

.socialMedia {
  margin-top: 1em;
}
.text {
  margin-bottom: 0.5em;
}

.copyText {
  margin-top: 0.5em;
}

.socialMedia a {
  margin: 0.5em;
  text-decoration: none;
}

.socialMedia i {
  color: black;
}

/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|

*/

@media screen and (min-width: 1500px) {
  span i {
    font-size: 4rem !important;
  }
}

@media screen and (max-width: 900px) {
  .carouselImage h2 {
    font-size: 1rem;
  }
  span {
    bottom: 50%;
  }

  span i {
    font-size: 2rem !important;
  }

  body {
   height: 100vh;
}
}

@media screen and (max-width: 700px) {
  span i {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 450px) {
  .carouselImage h2 {
    font-size: 0.6rem;
  }

  span i {
    font-size: 0.5rem !important;
  }

  #btn-1 {
    left: 0.3rem;
  }

  #btn-2 {
    right: 0.3rem;
  }
}
